@{
    ViewBag.Title = "About";
}


<div class="table">
    <div class="row">
        <div class="col-12">
            <img style="height:300px;width:100%" src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80 " class="img-fluid" />
            <p>
                We are two developers from India. We have many passions and this website is one of them. We have worked really very hard to make this happen.
                Please do support.
            </p>

        </div>
    </div>

</div>


